@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: hsl(0, 0%, 98%);
  --background-element: hsl(0, 0%, 100%)
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: hsl(207, 26%, 17%);
    --background-end-rgb: 0, 0, 0;
    --background-element: hsl(209, 23%, 22%)
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}
